In [1]:
import pandas as pd 
import seaborn as sns
from sklearn.model_selection import train_test_split

In [7]:
df = sns.load_dataset("titanic")
df2 = df[['survived',"pclass",'age','parch']]
df3 = df2.fillna(df2.mean())
df3

     survived  pclass        age  parch
0           0       3  22.000000      0
1           1       1  38.000000      0
2           1       3  26.000000      0
3           1       1  35.000000      0
4           0       3  35.000000      0
..        ...     ...        ...    ...
886         0       2  27.000000      0
887         1       1  19.000000      0
888         0       3  29.699118      2
889         1       1  26.000000      0
890         0       3  32.000000      0

[891 rows x 4 columns]

In [9]:
X = df3.drop('survived', axis=1)
y = df3['survived']

print('Shape of X = ', X.shape)
print('Shape of y = ', y.shape)

Shape of X =  (891, 3)
Shape of y =  (891,)