# Pandas join()

In [1]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]})
df2 = pd.DataFrame({'C':[4,5,6], 'D':[40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   D
0  4  40
1  5  50
2  6  60

In [11]:
df1.join(df2)

   A   B  C   D
0  1  10  4  40
1  2  20  5  50
2  3  30  6  60

In [12]:
df2.join(df1)

   C   D  A   B
0  4  40  1  10
1  5  50  2  20
2  6  60  3  30

In [13]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]}, index=['a', 'b','c'])
df2 = pd.DataFrame({'C':[4,5,6], 'D':[40,50,60]})
df1.join(df2)

   A   B   C   D
a  1  10 NaN NaN
b  2  20 NaN NaN
c  3  30 NaN NaN

In [14]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]}, index=['a', 'b','c'])
df2 = pd.DataFrame({'C':[4,5,6], 'D':[40,50,60]}, index=['a', 'b','c'])
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [15]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]}, index=['a', 'b','c'])
df2 = pd.DataFrame({'C':[4,5], 'D':[40,50]}, index=['a', 'b'])
df1.join(df2)

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [16]:
df1.join(df2, how='right')

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [17]:
df1.join(df2, how='inner')

   A   B  C   D
a  1  10  4  40
b  2  20  5  50

In [18]:
df1.join(df2, how='outer')

   A   B    C     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN

In [19]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[10,20,30]}, index=['a', 'b','c'])
df2 = pd.DataFrame({'A':[4,5], 'D':[40,50]}, index=['a', 'b'])
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['A'], dtype='object')

In [20]:
df1.join(df2, lsuffix='_1')

   A_1   B    A     D
a    1  10  4.0  40.0
b    2  20  5.0  50.0
c    3  30  NaN   NaN

In [21]:
df1.join(df2, rsuffix='_1')

   A   B  A_1     D
a  1  10  4.0  40.0
b  2  20  5.0  50.0
c  3  30  NaN   NaN