# Pandas DatetimeIndex

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Downloads/student_results.csv')
df

   Student ID  Class  Study hrs  Social Media usage hrs  Percantege      Date
0        1001     10          2                       3          50  07/05/21
1        1002     10          6                       2          80  08/05/21
2        1003     10          3                       2          60  09/05/21
3        1004     11          0                       1          45  10/05/21
4        1005     11          4                       2          75  07/05/21

In [3]:
df.dtypes

Student ID                 int64
Class                      int64
Study hrs                  int64
Social Media usage hrs     int64
Percantege                 int64
Date                      object
dtype: object

In [6]:
type(df.Date[0])

str

In [ ]:
df = pd.read_csv('Downloads/student_results.csv', parse_dates)
df